<!DOCTYPE html>
<html>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <body>
        <h1>Budget</h1>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <input name="file" id="file" type="file" enctype="multipart/form-data"/>
                <button>Upload</button>
            </div>
        </form>
    </body>
</html>