{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('upload.upload') }}">Upload</a>
        <a class="action" href="{{ url_for('display.trash') }}">Delete</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                {% for item in row %}
                    <td>{{item}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}