{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('upload.upload') }}">Upload</a>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post">
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                {% for item in row %}
                    <td>{{item}}</td>
                {% endfor %}
                
                {% for field in fields %}
                    <td>
                    <label for="{{row[0]}}:{{field}}"></label>
                    <input name="{{row[0]}}:{{field}}" id="{{row[0]}}:{{field}}">
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit">
    </form>
{% endblock %}