{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="filetype">File Type</label>
    <select width=50% name="filetype" id="filetype" required>
        <option value="">Choose type of file being uploaded</option>
        <option value="capone">Capital One</option>
        <option value="citizens">Citizens Bank </option>
        <option value="categories">Merchant-Category Labels</option>
        <option value="travel">Travel Days</option>
    </select>
    <p></p>
    <label for="file">File</label>
    <input name="file" id="file" type="file" required>
    <input type="submit" value="Upload">
  </form>
{% endblock %}